body {
	background: #fff;
	color: #666;
	font: 90%/180% Arial, Helvetica, sans-serif;
	width: 500px;
	max-width: 96%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    padding: 10%;
}

h3 {
    font-size: 50px;
	font: 1.7em;
	line-height: 110%;
    color: tomato;
    align-content: center;
    outline-color: #666;
    -webkit-text-stroke: 1px black;
    vertical-align: middle;


    text-shadow:
    1px 1px 0 #000;
}

.banner {
	border-top: 6px solid rgba(8, 163, 235, 0.849);
    border-bottom: 6px solid rgba(8, 163, 235, 0.849);
    border-left: 6px solid rgba(8, 163, 235, 0.849);
    border-right: 6px solid rgba(8, 163, 235, 0.849);
    animation: fromLeft;
    border-radius: 125px;
	animation-duration: 4s;
	animation-delay: 2s;
	opacity: 1;
    animation-fill-mode: forwards;
    vertical-align: middle;

}

table {
    text-align: center;
}

table{
    border: 6px solid rgba(8, 163, 235, 0.849);
    background-color: white;
    width: 100%;
    text-align: center;
}
td, th {
    border: 1px solid rgba(8, 163, 235, 0.849);
    padding: 4px 4px;
}
tbody td {
    font-size: 13px;
}
thead {
    background: rgba(8, 163, 235, 0.849);
    background: -moz-linear-gradient(top, tomato 0%, tomato 66%, tomato 100%);
    background: -webkit-linear-gradient(top, tomato 0%, tomato 66%, tomato 100%);
    background: linear-gradient(to bottom, tomato 0%, tomato 66%, tomato 100%);
}
thead th {
    font-size: 17px;
    font-weight: bold;
    color: black;
    outline-color: #666;
    -webkit-text-stroke: 1px black;
    text-align: center;
    border-left: 2px solid rgba(8, 163, 235, 0.849);
}
thead th:first-child {
    border-left: none;
}
