<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main (main.css) CSS -->
    <link rel="stylesheet" href="/static/chartsview.css">
  </head>
  <body>
      <div class= "banner text center">
      <h3>Meducate</h3>
      </div>
      <h2></h2>
      <h4>Top Medications:</h4>
      <div class="graph">
        <h5>Graph goes here.</h5>
      </div>
      <table>
          <thead><tr><th>Drug Name</th><th>Rating</th></tr></thead>
          <tbody>
	    {% for result in results %}
            <tr>
            <td>{{result['name']}}</td>
            <td>{{result['rating']}}</td>
            </tr>
	    {% endfor %}
            </tbody>
      </table>
  </body>
</html>
