<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main (main.css) CSS -->
    <link rel="stylesheet" href="../static/chartsview.css">
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script-->
  </head>
  <body>
      <div class= "banner text center">
      <h3>[med]ucate</h3>
      </div>
      <h2></h2>
      <h2>Top Medications:</h2>
      <div class="graph">
	{% for id in ids %}
	<div id="{{id}}"></div>
	{% endfor %}

      </div>
<div>      <table>
          <thead><tr><th>Drug Name</th><th>Rating</th></tr></thead>
          <tbody>
	    {% for result in results %}
            <tr>
            <td>{{result['name']}}</td>
            <td>{{result['rating']}}</td>
            </tr>
	    {% endfor %}
            </tbody>
      </table></div>
  </body>
	<footer>
	<!-- D3.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Plotly.js -->
	<!-- <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<script type="text/javascript">
		var graphs = {{graph_results | safe}};
		var ids = {{ids | safe}};
		for(var i in graphs) {
			Plotly.plot(ids[i], // the ID of the div, created above
				graphs[i].data,
				graphs[i].layout || {});
					}
			</script>
</footer>
</html>
