<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main (main.css) CSS -->
    <link rel="stylesheet" href="/static/medsview.css">
  </head>
  <body>
      <div class= "banner text center">
      <h3>Meducate</h3>
      </div>
      <h2></h2>
      <form action="/graph" method="GET">
          <input type="search" id="diagnosis" name="diagnosis" placeholder="Search">
      </form>
  </body>
</html>
